<div class="text-center scrollableContent">
<h5><em>All fields are required</em></h5>

    <div role="form"  class="form-horizontal" style="width:80%; margin: auto" >

        <div class="form-group">
            <label for="alarmDescr" class="col-sm-2 control-label">Alarm:</label>
            <div class="col-sm-10">
            <select  class="form-control" id="alarmDescr" ng-model="alarmDescr">
                <option value="HVAC Console">HVAC Console</option>
                <option value="UPS Backup System">UPS Backup System</option>
            </select>
                </div>
        </div>

        <div class="form-group">
            <label for="alarmType" class="col-sm-2 control-label">Type:</label>
            <div class="col-sm-10">
            <select  class="form-control" id="alarmType" ng-model="alarmType">
                <option value="info">Info</option>
                <option value="warning">Warning</option>
                <option value="fatal">Fatal</option>
            </select>
        </div>
        </div>

        <div class="form-group">
            <label for="alarmDt" class="col-sm-2 control-label">Date:</label>
            <div class="col-sm-10">
            <input type="date" class="form-control" id="alarmDt" placeholder="Date" ng-model="alarmDt">
        </div>
        </div>

        <div class="form-group">
            <label for="alarmTime" class="col-sm-2 control-label">Time:</label>
            <div class="col-sm-10">
            <input type="time" class="form-control" id="alarmTime" placeholder="Time" ng-model="alarmTime">
        </div>
        </div>

        <div class="form-group">
            <label for="alarmMsg" class="col-sm-2 control-label">Message:</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="alarmMsg" placeholder="Message" maxlength="100" ng-model="alarmMsg">
            </div>
        </div>

    </div>

    <button type="button" class="btn btn-default btn-block" style="width: 80%; margin: auto" ng-click="saveForm()">Submit</button>
</div>
