<!--<div id="dialog-model" class="popin" ng-show="showPopin">
    <div class="popin-dialog">
        <div class="popin-content">
            <div class="popin-header">
                Alarm Details
            </div>
            <hr>
            <div class="popin-body">
                <table>
                    <tr>
                        <td>January</td>
                        <td>$100</td>
                    </tr>
                    <tr>
                        <td>February</td>
                        <td>$80</td>
                    </tr>
                </table>
            </div>
            <div class="popin-footer">
                <button class="btn btn-default" ng-click="popinToggle()">Cancel</button>
                <button class="btn btn-success" ng-click="popinToggle()">OK</button>
            </div>
        </div>
    </div>
</div>-->