<div>
<ul class="overview overviewFix">
    <li class="overview-card">
    <div class="overview-card-content">
        <div class="overview-card-graphic">
            <img src="http://placeimg.com/75/75/arch" alt="">
        </div>
        <div class="overview-card-details">
            <h4>Carrefour Echirolles</h4>
            <dl>
                <dt>Last Update</dt>
                <dd>25/12/13 17:45</dd>
                <dt>Contact</dt>
                <dd>Matthieu Ricard</dd>
                <dt>Contract</dt>
                <dd>Premium</dd>
            </dl>
        </div>
    </div>
        <div class="overview-card-status-bar">
            <div class="overview-card-metric overview-card-metric-danger">
                <div class="overview-card-metric-count">2</div>
                <div class="overview-card-metric-label">errors</div>
            </div>
            <div class="overview-card-metric overview-card-metric-warning">
                <div class="overview-card-metric-count">0</div>
                <div class="overview-card-metric-label">warnings</div>
            </div>
            <div class="overview-card-metric overview-card-metric-info">
                <div class="overview-card-metric-count">2</div>
                <div class="overview-card-metric-label">open tasks</div>
            </div>
        </div>
    </li>

    <li class="overview-card">
        <div class="overview-card-content">
            <div class="overview-card-graphic">
                <img src="http://placeimg.com/75/75/arch" alt="">
            </div>
            <div class="overview-card-details">
                <h4>Carrefour Echirolles</h4>
                <dl>
                    <dt>Last Update</dt>
                    <dd>25/12/13 17:45</dd>
                    <dt>Contact</dt>
                    <dd>Matthieu Ricard</dd>
                    <dt>Contract</dt>
                    <dd>Premium</dd>
                </dl>
            </div>
        </div>
        <div class="overview-card-status-bar">
            <div class="overview-card-metric overview-card-metric-danger">
                <div class="overview-card-metric-count">2</div>
                <div class="overview-card-metric-label">errors</div>
            </div>
            <div class="overview-card-metric overview-card-metric-warning">
                <div class="overview-card-metric-count">0</div>
                <div class="overview-card-metric-label">warnings</div>
            </div>
            <div class="overview-card-metric overview-card-metric-info">
                <div class="overview-card-metric-count">2</div>
                <div class="overview-card-metric-label">open tasks</div>
            </div>
        </div>
    </li>
</ul>
</div>