<div>

    <ul class="list-form">
        <li class="list-form-group">
            <label for="protection-status" class="checkbox-toggle pull-right" ng-class="{active : cb1}">
                  <span class="track">
                    <span class="track-label">ON</span>
                    <span class="track-label">OFF</span>
                  </span>
                <span class="handle"></span>
                <input type="checkbox" id="protection-status" ng-click="setButton('cb1')">
            </label>
            Protection status
        </li>
        <li class="list-form-group">
            <label for="output-action" class="checkbox-toggle pull-right" ng-class="{active : cb2}">
                  <span class="track">
                    <span class="track-label">ON</span>
                    <span class="track-label">OFF</span>
                  </span>
                <span class="handle"></span>
                <input type="checkbox" id="output-action" ng-click="setButton('cb2')">
            </label>
            Protection status
        </li>
        <li class="list-form-group">
            <div class="value">
                1000 <sub>A</sub>
            </div>
            <i class="se-icon se-icon-ground"></i> Residiual
        </li>
    </ul>



</div>