<div style="padding: 0px 10px;">
    <h5>
    The bars above show the usage of navbars that you'll see throughout this application.
    There is a main title bar and a secondary titlebar.<br><br>
    By pressing the menu icon in the top left corner or by swiping to the right, you can also open the off canvas
    side drawer menu.  Tapping outside the menu will close it.
    </h5>

    <h5>This section will also allow you to toggle the forgot password and change password screens</h5>

    <button class="btn btn-default btn-block" ng-click="showForgotPass()">Show Forgot Password</button>
    <br>
    <button class="btn btn-default btn-block" ng-click="showChangePass()">Show Change Password</button>
</div>