<ul class="list">
    <li class="list-item">
        <div class="item-graphic">
            <img src="http://placeimg.com/40/40/tech" alt="">
        </div>
        <div class="item-body">
            <div class="meta">25/12/13 17:45</div>
            <h4>Electropole</h4>
            <p>Risk Level 1</p>
            <p>Energy wastes during unoccupied periods and someone crossed the streams!</p>
        </div>
    </li>
    <li class="list-item">
        <div class="item-graphic">
            <img src="http://placeimg.com/40/40/tech" alt="">
        </div>
        <div class="item-body">
            <div class="meta">25/12/13 17:45</div>
            <h4>Electropole</h4>
            <p>Risk Level 1</p>
            <p>Energy wastes during unoccupied periods and someone crossed the streams!</p>
        </div>
    </li>
    <li class="list-item">
        <div class="item-graphic">
            <img src="http://placeimg.com/40/40/tech" alt="">
        </div>
        <div class="item-body">
            <div class="meta">25/12/13 17:45</div>
            <h4>Electropole</h4>
            <p>Risk Level 1</p>
            <p>Energy wastes during unoccupied periods and someone crossed the streams!</p>
        </div>
    </li>
</ul>